* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-top: 1em;
}

.logo > img {
  width: 50px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  background-color: #444;
}

.hamburger {
  padding: 0.5em 1em;
}

.menu {
  display: none;
  list-style: none;
}

main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 1em;
}

.product {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: 1px solid black;
  padding: 1em;
  text-align: center;
}

.social {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

@media (min-width: 768px) and (max-width: 1023px) {
  header {
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 1em;
  }

  header > h1 {
    flex-grow: 0.3;
  }

  main {
    margin: 1em 4em;
  }

  .product {
    border: 1px solid lightgray;
    border-radius: 1em;
  }

  footer {
    border-top: 1px solid lightgray;
  }
}
