<!DOCTYPE html>
<html lang="en">
  <!-- Tables Page -->
  <%- include('../template/head') -%>
  <body>
    <div class="container">
      <div class="jumbotron">
        <!-- We only have 5 tables! Book your seat before they all are gone! -->
        <%- include('../template/subtitle') -%>
        <div class="text-center">
          <a href="/tables"
            ><button class="btn btn-lg btn-primary"><span class="fa fa-list-alt"></span> View Tables</button></a
          >
          <a href="/reserve"
            ><button class="btn btn-lg btn-danger"><span class="fa fa-credit-card"></span> Make Reservation</button></a
          >
        </div>
      </div>
      <%- include('../template/footer') -%>
    </div>
  </body>
</html>
